<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metaSDLProj -->
      <package
            uri="http://www.example.org/metaSDLProj"
            class="com.metasdlproj.model.metaSDLProj.MetaSDLProjPackage"
            genModel="model/metaSDLProj.genmodel"/>
   </extension>

</plugin>
